@use "../abstracts" as *;

header {
    @include flexCenter(column);
    overflow-x: hidden;
    .logo {
        margin-block: 3rem clamp(3.375rem, 2.779rem + 2.545vw, 4rem);
        @include mediaQuery(laptop) {
            margin-top: clamp(3rem, 0.714rem + 4.762vw, 5rem);
        }
    }
    .header-image {
        width: 106.77%;        
        @include mediaQuery(laptop) {
            width: auto;
        }
        @include mediaQuery(laptop-l) {
            display: none;
        }
    }
    .hero {
        position: relative;
        margin-block: clamp(3rem, 1.569rem + 6.107vw, 4.5rem) clamp(9.25rem, 8.296rem + 4.071vw, 10.25rem);
        padding: 0 clamp(1.5rem, -6.372rem + 33.588vw, 9.75rem);
        @include mediaQuery(laptop) {
            padding: 0 clamp(9.75rem, -11.25rem + 43.75vw, 28.125rem);
        }
        @include mediaQuery(laptop-l) {
            margin-bottom: 12.563rem;
            margin-top: 2.938rem;

        }
    }
    .hero::before, .hero::after {
        position: absolute;
        content: "";
        width: 33%;
        height: 100%;
        background-size: 80%;
        background-repeat: no-repeat;
        display: none;
        @include mediaQuery(laptop-l) {
            display: block;
        }
        @include mediaQuery(four-k) {
            height: 130%;
        }
    }
    .hero::before {
        left: -2.25%;
        top: 0;
        background-image: url("images/desktop/image-hero-left.png");
        background-position: left center;
        @include mediaQuery(four-k) {
            background-position: left top;
            top: -15%;
        }
    }
    .hero::after {
        bottom: 0;
        right: -2.25%;
        background-image: url("images/desktop/image-hero-right.png");
        background-position: right center;
        @include mediaQuery(four-k) {
            background-position: right bottom;
        }
        @include mediaQuery(100rem) {
            bottom: -15%;
        }
    }
    .hero-heading {
        font-size: clamp(2.5rem, 1.972rem + 2.254vw, 4rem);
        line-height: clamp(2.75rem, 2.31rem + 1.878vw, 4rem);
        font-weight: weight("black");
        color: $blackish;
    }
    .hero-description {
        margin-block: clamp(1.5rem, 0.786rem + 1.488vw, 2.125rem) 2rem;
        font-size: clamp(1rem, 0.857rem + 0.298vw, 1.125rem);
        line-height: 1.625rem;
        font-weight: weight(medium);
        color: $primary-dark-grey;
        @include mediaQuery(four-k) {
            width: 33.75rem;
        }
    }
    & .buttons {
        @include flexCenter(column);
        gap: 1rem;
        @include mediaQuery(37.813rem) {
            flex-direction: row;
        }
    }
    & .btn-download {
        padding: 1rem 2.5rem;
        background-color: $primary-sea-green;
        transition: background-color 250ms;
        & span {
            color: $secondary-sky-blue;
        }
        &:active {
            background-color: $hover-green;
        }
    }
    & .btn-detail {
        padding: 1rem 1.813rem;
        background-color: $primary-purple;
        transition: background-color 250ms;
        &:active {
            background-color: $hover-purple;
        }
    }
}
