$primary-sea-green: #4D96A9;
$primary-dark-grey: #87879D;
$primary-purple: #855FB1;
$secondary-light-grey: #D8D8D8;
$secondary-sky-blue: #8FE3F9;
$secondary-light-purple: #D9B8FF;
$hover-purple: #B18BDD;
$hover-green: #71C0D4;
$whitish: #FAFAFA;
$blackish: #28283D;
$white: #FFF;